.AnchorPane{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #221E1D;


}
.AnchorPane2{
    -fx-background-color: #3F51B5;
}
.AnchorPane3{
    -fx-background-color: #303F9F;
}
.Pane{
    -fx-background-color: #FFFFFF;
}
.ButtonBar{
    -fx-background-color: #FFFFFF;

}
.jfx-tab-pane .headers-region {
    -fx-background-color: #536DFE
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #536DFE;
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #FFFFFF;
    -fx-stroke-width: 3pt;
}


/*******************************************************************************
 *                                                                             *
 * Tables								                       				   *
 *                                                                             *
 ******************************************************************************/
.table-view, .tree-table-view {
    /* Constants used throughout the tableview. */
    -fx-table-header-border-color: transparent;
    -fx-table-cell-border-color: -fx-box-border; /* Horizontal Lines*/
    -fx-background-color: transparent;
}

/* The column header row is made up of a number of column-header, one for each
   TableColumn, and a 'filler' area that extends from the right-most column
   to the edge of the tableview, or up to the 'column control' button. */
.table-view .filler, .tree-table-view .filler, .table-view .column-header,
.tree-table-view .column-header {
    -fx-size: 50;
    -fx-border-style: null;
    -fx-border-color: #536DFE;
    -fx-border-width: 0 0 2 0;
    -fx-background-color: #536DFE;
}

.table-view .show-hide-columns-button, .tree-table-view .show-hide-columns-button
{
    -fx-background-color: transparent;
}

.table-view .column-header .label, .table-view .filler .label,
.table-view .column-drag-header .label, .tree-table-view .column-header .label,
.tree-table-view .filler .label, .tree-table-view .column-drag-header .label
{
    -fx-alignment: CENTER_LEFT;
}

.table-view .column-header-background, .tree-table-view .column-header-background
{
    -fx-background-color: transparent;
}

.table-row-cell, .tree-table-row-cell {
    -fx-cell-size: 30px;
}

.table-cell {
    -fx-border-color: transparent; /* Vertical Lines*/
    -fx-border-width: 1;
}


.JFXButton{
    -fx-background-color: #3F51B5;
    -fx-text-fill: #FFFFFF;
}
.JFXButtonTab{
    -fx-background-color: #536DFE;
    -fx-text-fill: #FFFFFF;
}

.JFXDatePicker{

    -fx-text-fill: #FFFFFF;
    -jfx-default-color: #536DFE;
}

.JFXTimePicker{

    -jfx-default-color: #536DFE;
    -fx-text-fill: #FFFFFF;
}

.JFXTextField {
    -fx-text-fill: #221E1D;
    -jfx-focus-color: #536DFE;
    -jfx-unfocus-color: #383127;
}
.JFXComboBox{
    -fx-text-fill: #221E1D;
    -jfx-focus-color: #536DFE;
    -jfx-unfocus-color: #383127;
}

.JFXTextArea{
    -fx-text-fill: #221E1D;
    -jfx-focus-color: #536DFE;
    -jfx-unfocus-color: #383127;
}
.label{
     -fx-text-fill: #FFFFFF;
 }
.label2{
    -fx-text-fill: #212121;
}
.password-field{
    -fx-text-fill: #221E1D;

    -jfx-focus-color: #536DFE;
    -jfx-unfocus-color: #383127;
}

/*
#222930
#4EB1BA
#E9E9E9
#4d4d4d
*/
