.AnchorPane{
    -fx-background-color: #E4DBBF;
    -fx-text-fill: #221E1D;
    -fx-border-color: #383127;

}

.JFXButton{
    -fx-background-color: #DC5B21;
    -fx-text-fill: #E4DBBF;
}

.JFXDatePicker{

    -fx-text-fill: #E4DBBF;
    -jfx-default-color: #DC5B21;
}

.JFXTimePicker{

    -jfx-default-color: #DC5B21;
    -fx-text-fill: #E4DBBF;
}

.JFXTextField {
    -fx-text-fill: #221E1D;
    -jfx-focus-color: #DC5B21;
    -jfx-unfocus-color: #383127;
}
.JFXComboBox{
    -fx-text-fill: #221E1D;
    -jfx-focus-color: #DC5B21;
    -jfx-unfocus-color: #383127;
}

.JFXTextArea{
    -fx-text-fill: #221E1D;
    -jfx-focus-color: #DC5B21;
    -jfx-unfocus-color: #383127;
}
.label{
    -fx-text-fill: #221E1D;
}
.password-field{
    -fx-text-fill: #221E1D;

    -jfx-focus-color: #DC5B21;
    -jfx-unfocus-color: #383127;
}

/*
#222930
#4EB1BA
#E9E9E9
#4d4d4d
*/
